---
interface Props {
    href?: string;
    target?: string;
}

const { href, target } = Astro.props;
---

<a class="py-2 px-3 bg-gray text-white text-sm border border-gray rounded-full hover:bg-grayHover hover:border-grayHover transition-colors duration-100 cursor-pointer" href={href} target={target}><slot /></a>
