---
interface Props {
    href?: string;
    target?: string;
}

const { href, target } = Astro.props;
---

<a class=" text-sm py-2 px-3 border text-gray bg-white border-gray rounded-full hover:bg-whiteHover transition-colors duration-100 cursor-pointer" href={href} target={target}><slot /></a>
