---
import NavLink from '@/components/common/navLink/NavLink.astro'
---

<header class="flex justify-between">
    <h3 class="text-gray font-medium text-sm">unaLineaMas</h3>
    <nav>
        <ul class="flex flex-col items-end font-medium gap-1 text-gray">
            <li><NavLink exact href="/" activeClass='opacity-100 underline-offset-4 underline active text-gray' class='opacity-70 hover:underline-offset-4 hover:underline'>inicio</NavLink></li>
            <li><NavLink href="/articles" activeClass='opacity-100 underline-offset-4 underline active text-gray' class='opacity-60 hover:underline-offset-4 hover:underline'>articulos</NavLink></li>
            <li><NavLink href="/contributing" activeClass='opacity-100 underline-offset-4 underline active text-gray' class='opacity-60 hover:underline-offset-4 hover:underline'>CONTRIBUTING.md</NavLink></li>
        </ul>
    </nav>
</header>